= provide(:title, 'Yritykset')

%h1 Yritykset

.container.bordered

  = will_paginate, :previous_label => "Edellinen", :next_label => "Seuraava"
  - @firms.each do |firm|
    = render firm

  = will_paginate, :previous_label => "Edellinen", :next_label => "Seuraava"

