- provide(:title, @user.name)
.row
  %aside.span4
    %section
      %h1
        = gravatar_for @user
        = @user.name
    %h3 Yritykset
    
    %ul.firms
      - @firms.each do |firm|
        %li= render firm
