- provide(:title, @user.name)
.row
  %aside.span4
    %section
      %h1
        = gravatar_for @user
        = @user.name
.row
  %h2.bordered Yritykset
    
  %ul.ul_no_disc
    - @firms.each do |firm|
      %li= render firm
