- provide(:title, @user.name)
.container
  .span6.offset3
    .row.well.green
      = gravatar_for @user
      = @user.name
      
      %table.table.table-striped
        %thead
          %th Yritykset
        %tbody
          - @firms.each do |firm|
            %td= link_to firm.name, firm
      
      = link_to "Takaisin", request.env["HTTP_REFERER"] 
      
             
