- provide(:title, @storagelocation.name)

.container
  .span8.offset2
    = render "shared/nav"

.container
  .span8.offset2
    .row.bordered

      %h2.bordered-bottom= @storagelocation.name
      %h2.bordered-bottom= @storagelocation.info

              
      = link_to :controller => "storagelocations", :action => "edit", :id => @storagelocation.id do
        %i.icon-edit
        Muokkaa
      
      %a.nav-link{href: "#", onclick: "window.print()"}
        %i.icon-print.margin-left10
        Tulosta
