
/* mixins, variables, etc. */


$grayMediumLight: #eaeaea;

/*
$myOrange:#f89406;
$myBlueDark: #304269;
$myPurple: #3D368B;
$myGreen: #46a546;
$myBlue: #91BED4;
$myBlueLight: #D9E8F5;
$myWhite: #eee;
$myGrayBlue: #43464C;
*/

/* colors */
/*
$navbarBackground: $myGreen;
$navbarBackgroundHighlight: lighten($navbarBackground, 10);
$navbarLinkColor: darken($myOrange, 10);
$navbarLinkColorHover: $myOrange;
$dropdownBackground: $myBlueDark;
$dropdownLinkColor: $myOrange;
$hrBorder: $myBlue;
$heroUnitBackground: lighten($myOrange, 20);
$dropdownLinkColorHover: $myOrange;
*/

@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.outline {
  outline: 1px #DDD solid;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */
form {
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    padding: 4px;
    height: auto;
    margin-bottom: 15px;
    @include box_sizing;
  }
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height: 30px;
}

#add-storagelocation, #add-substance-generator, #add-substance-other, #add-substance-kit {
  margin-bottom: 10px;
}

.form-search {
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    padding: 5px;
    width:auto;
    min-height: 25px;
    margin-bottom: 10px;
  }
}
  
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}


.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
 
/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.ul_no_disc {
  list-style: none;
}

.margin-left10 {
  margin-left: 10px;
}

.bordered {
  padding-top: 20px;
  border-top: 1px solid $grayLighter;
}

.bordered-bottom {
  border-bottom: 1px solid $gray;
}

.table.table-borderless td,
.table.table-borderless th {
    border-top: 0;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.gray {
  background-color: $grayMediumLight;
}

.green {
  background-color: $successBackground;
}

.blue {
  background-color: $infoBackground;
}

.hidden {
  display: none;
}

legend {
  font-size: 14px;
}

.text-alert {
  color: red;
}

.text-success {
  color: green;
}

#main-container {
  min-height: 600px;
}
  
