/* header */
#cur-time {
	color:#999999;
	margin-right:10px;
}

#logged-in-user {
	color:#999999;
	margin-right:5px;
}

#logo {
	width: 30px;
	margin-bottom: 5px;
}

#current-firm {
	color:#999999;
	margin-left: 10px;
}