%table.table.table-bordered#reportTable
  %thead
    %tr
      %th Aine
      %th Erä
      %th Info
  %tbody
    - @arrivalEvents.each do |event|
      %tr
        %td
          = event.getBatch.substance.product_name
        %td
          = event.user_timestamp.strftime("%d.%m.%y")
        %td
          = 'Erä '+event.getBatch.batchNumber+' , '+ event.info+' , Vanhenemispvm '+event.getBatch.expDate.strftime("%d.%m.%y")


