%table.table.table-bordered#reportTable2
  %thead
    %tr
      %th Aine
      %th Erä
      %th Info
      %th Käyt. ennen
  %tbody
    - @removalEvents.each do |event|
      %tr
        %td
          = event.getBatch.substance.product_name
        %td
          = event.getBatch.batchNumber
        %td
          = event.info
        %td
          = event.getBatch.expDate.strftime("%d.%m.%y")


