- provide(:title, 'Näytä raportti')
%h1 Näytä raportti

- #javascript_tag "$('#datetimepicker1').datetimepicker({language: 'fi'});"

.container
  .span12
    = render "shared/nav"
    
.row
  .span12.bordered

    %form.form-horizontal{:id => "email", :action => "show", :method => "get"}
      %div.control-group
        %div.controls-row
          Alkupvm
          .input-append.date#datetimepicker1
            = text_field_tag 'startDate', nil, { 'class' => 'span3', 'data-format' => 'dd.MM.yyyy'}
            %span.add-on
              %i.icon-calendar{'data-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}

          Loppupvm
          .input-append.date#datetimepicker2
            = text_field_tag 'endDate', nil, { 'class' => 'span3', 'data-format' => 'dd.MM.yyyy'}
            %span.add-on
              %i.icon-calendar{'data-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
        %div.controls
          %input{:type=>"checkbox", :name=>"showArrivals", :value=>1} Näytä saapuneet
        %div.controls
          %input{:type=>"checkbox", :name=>"showRemovals", :value=>1} Näytä poistetut
        %div.controls
          %input{:type=>"checkbox", :name=>"showCreated", :value=>1} Näytä käyttökuntoon saatetut [lkm]
        %div.controls
          %input{:type=>"checkbox", :name=>"showCreatedDetails", :value=>1} Näytä käyttökuntoon saatetut, yksityiskohdat


      %input{:type => "submit", :value => "Näytä raportti", :class => "btn btn-primary pull-right", :style => 'margin-bottom: 10px;'}

