- provide(:title, 'Raportti')

.container
  .span12#reportnav
    = render "shared/nav"

.container
  .span12
    .row.bordered
      %h2= 'Raportti ajalta ' + @start + ' - '+ @end
      - if @arrivalEvents
        %h4 Saapuneet erät
        = render 'arrivals'
      -if @kits
        %h4 Käyttökuntoon saatetut [lkm]
        = render 'products'







  %a.nav-link{href: "#", onclick: "window.print()"}
    %i.icon-print.margin-left10
    Tulosta
