%footer.footer
  %small &copy Tmi Janne Laukkanen 2012
  - #= link_to 'Devlfin', "http://devlfin.com/"        
  %nav
    %ul
      %li= link_to "Tietoa",  about_path
      %li= link_to "Ota yhteyttä",    contact_path

