%li
  = link_to :controller => "eluates", :action => "index", :huslab_id => current_user.primary_firm.resource.id do
    Eluaatit
%li
  = link_to :controller => "radiomedicines", :action => "index", :huslab_id => current_user.primary_firm.resource.id do
    Radiolääkkeet
%li
  = link_to :controller => "storagelocations", :action => "index", :huslab_id => current_user.primary_firm.resource.id do
    Varastopaikat
%li
  = link_to :controller => "substances", :action => "index", :huslab_id => current_user.primary_firm.resource.id do
    Raaka-aineet